
#capHead :hover
{
    background-color: lavender;
}

#dataTable
{
    /* color: black; */
    color: white;
}
.spinner-border  {
    margin:  auto;
}

.dropdown {
    color: white;
}

th {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 40px;
}

td {
    padding-top: 20px;
    /* padding-bottom: 20px; */
    padding-left: 90px;
    padding-right: 40px;
}