
#capHead :hover
{
    background-color: lavender;
}

#dataTable
{
    /* color: black; */
    color: white;
}
.spinner-border  {
    margin:  auto;
}

th {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 55px; 
    padding-right: 40px;
}

td {
    padding-top: 20px;
    /* padding-bottom: 20px; */
    padding-left: 80px;
    padding-right: 40px;
}

/* 
#symbol {
    padding-left: 25px;
    padding-right: 25px;
} */


#dataTable {
    margin-top: 70px;
}

#dropdownheading {
    margin-top: 5px;
    margin-right: 160px;
    text-align: right;
}

#selectid {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.box {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    margin-top: 10px;
    right: 0;
    transform: translate(-50%, -50%);
}

.box select {
    background-color: navy;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}

