.spacer{
    flex: 1 1 auto;
}

/* .header{
    background-color: black;

} */

.custom{

    background-color: navy;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    height: 65px;
    color: white !important;
    font-size: 22px;
    
}

.header-logo-image {
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    overflow: hidden;
    /* margin-top: -1px; */
    margin-top: 40px;
}

#btn-logout {
    margin-right: 40px;
    font-size: 20px;
}