.spacer{
    flex: 1 1 auto;
}

/* .header{
    background-color: black;

} */

.custom{

    background-color: navy;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    height: 50px;
    color: white !important;
    font-size: 22px;
    
}