<div class="body">
  <!-- Background video on login page -->
  <div class="backgroundvideo">
    <video [muted]="'muted'" loop autoplay>
      <source src="assets/login-background-video.mov" type="video/mp4" />
    </video>
  </div>

  <!-- Citi logo on login page -->
  <div class="logo">
    <img
      class="citi-logo-gif"
      style="float: right"
      src="/assets/login-citi-logo-gif.gif"
      alt="Logo"
    />
  </div>

  <!-- Login Form -->
  <div class="my-container">
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>

    <form (ngSubmit)="onSubmit()">
      <h3>Login Here</h3>

      <label for="username">Username</label>
      <input
        [(ngModel)]="user.username"
        type="text"
        placeholder="Enter Username"
        id="username"
        name="uname"
      />

      <label for="password">Password</label>
      <input
        [(ngModel)]="user.password"
        type="password"
        placeholder="Enter Password"
        id="password"
        name="pwd"
      />

      <div class="button-container">
        <button class="btn-login" type="submit">Log In</button>
        <button class="btn-reset" type="reset">Reset</button>
      </div>
    </form>
  </div>
</div>



