 <div class="form-group">
      <input type="search" class="form-control" [(ngModel)]="filter" placeholder="Filter by name">
    </div>
<div  class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
  <table class="table table-striped table-sm" id="dataTable">
    <thead>
        <tr>
          <!-- <th scope="col" sortable="StockID" (sort)="onSort($event)">Stock ID</th>
          <th scope="col" sortable="stockName" (sort)="onSort($event)">stockName</th>
          <th scope="col" sortable="stockSymbol" (sort)="onSort($event)">stockSymbol</th>
          <th scope="col" sortable="marketCap" (sort)="onSort($event)">marketCap</th>
          <th scope="col" sortable="currentPrice" (sort)="onSort($event)">currentPrice</th>
          <th scope="col" sortable="marketOpenPrice" (sort)="onSort($event)">marketOpenPrice</th>             -->

           <th scope="col" sortable="stockSymbol" (sort)="onSort($event)">Stock Symbol</th>
          <th scope="col" sortable="currentPrice" (sort)="onSort($event)">Current Price</th>
          <th scope="col" sortable="close2WeeksAgo" (sort)="onSort($event)">Close Two Weeks Ago</th>
          <th scope="col" sortable="changePercent" (sort)="onSort($event)">Change Percent</th>
          <th scope="col" sortable="quantitySaved" (sort)="onSort($event)">Quantity Saved</th>
          <th scope="col" sortable="username" (sort)="onSort($event)">Username</th>            
        </tr>
    </thead>
    <tbody *ngIf="stocks!=null">
        <tr *ngFor="let stock of stocks | stock:filter">
            <!-- <td>{{stock.StockID}}</td>
            <td>{{stock.stockName}}</td>
            <td>{{stock.stockSymbol}}</td>
            <td>{{stock.marketCap}}</td>
            <td>{{stock.currentPrice}}</td>
            <td>{{stock.marketOpenPrice}}</td> -->
            <td>{{stock.stockSymbol}}</td>
            <td>{{stock.currentPrice}}</td>
            <td>{{stock.close2WeeksAgo}}</td>
            <td>{{stock.changePercent}}</td>
            <td>{{stock.quantitySaved}}</td>
            <td>{{stock.username}}</td>
            <td > <button class=" btn btn-primary" (click)="deleteStock(stock)">Delete</button></td>
        </tr>
        
    </tbody>
    
  </table>
</div>

